.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
}

.sent {
  flex-direction: row-reverse;
}

.messageContainer p {
  margin: 0;
  text-align: start;
}

.sent .messageContainer {
  color: white;
  background: #58ac5e;
  align-self: flex-end;
  margin-right: 10px;
}

.received .messageContainer {
  background: #e5e5ea;
  color: black;
  margin-left: 10px;
}

.messageContainer .currentTime {
  text-align: end;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  word-wrap: break-word;
  max-width: 500px;
  min-width: 30px;
  min-height: 20px;
  line-height: 20px;
  padding: 0.6rem 0.6rem 0.25rem 0.6rem;
  border-radius: 15px;
  position: relative;

  text-align: initial;
}

.userName {
  font-size: 0.8rem;
  font-weight: 600;
}

.currentTime {
  font-size: 0.75rem;
}
