.chatMessage {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
}

.chatMessage__messageSent {
  flex-direction: row-reverse;
}

.chatMessage__messageSent .chatMessage__messageContainer {
  color: white;
  background: #58ac5e;
  align-self: flex-end;
  margin-right: 10px;
}

.chatMessage__messageReceived .chatMessage__messageContainer {
  background: #e5e5ea;
  color: black;
  margin-left: 10px;
}

.chatMessage__userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatMessage__messageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  word-wrap: break-word;
  max-width: 500px;
  min-width: 30px;
  min-height: 20px;
  line-height: 20px;
  padding: 0.6rem 0.6rem 0.25rem 0.6rem;
  border-radius: 15px;
  position: relative;

  text-align: initial;
}

.chatMessage__userName {
  font-size: 0.8rem;
  font-weight: 600;
}

.chatMessage__message {
  margin: 0;
  text-align: start;
}

.chatMessage__currentTime {
  font-size: 0.75rem;
  text-align: end;
}
