button {
  background-color: transparent;
  border: none;
}

.roomsContainer {
  text-align: center;
}

.roomsContainer h2 {
  text-align: center;
}

.roomsContainer table {
  height: 11.25rem;
  overflow: auto;
  display: block;
  table-layout: auto;
}
.roomsContainer table td,
.roomsContainer table th {
  vertical-align: middle;
}

.roomsTable::-webkit-scrollbar {
  width: 0.25rem;
}

.roomsTable::-webkit-scrollbar-track {
  background: #1e1e24;
}

.roomsTable::-webkit-scrollbar-thumb {
  background: #58ac5e;
}

.createdRooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 15px 0;
}

.createdRooms:last-child {
  padding-bottom: 0;
}

.createdRooms li {
  list-style: none;
  font-weight: 600;
}

.roomsTable__actions {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.join:hover {
  fill: #58ac5e;
}

.delete:hover {
  fill: #f44336;
}

.roomsTitleContainer__title {
  margin: 0;
}

.roomsTitleContainer__count {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.createRoomButton {
  margin-bottom: 0.75rem;
}
