.rooms {
  text-align: center;
}

.rooms__titleContainer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 1rem;
}

.rooms__title {
  margin: 0;
}

.rooms__createRooomButton {
  margin-bottom: 0.75rem;
}

.rooms__table {
  height: auto;
  max-height: 13.25rem;
  overflow: auto;
  display: block;
  table-layout: auto;
  margin-bottom: 0;
}

.rooms__tableActions {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.rooms__tableActionJoin:hover {
  fill: #58ac5e;
}

.rooms__tableActionDelete:hover {
  fill: #f44336;
}

.rooms__table::-webkit-scrollbar {
  width: 0.25rem;
}

.rooms__table::-webkit-scrollbar-track {
  background: #1e1e24;
}

.rooms__table::-webkit-scrollbar-thumb {
  background: #58ac5e;
}

.rooms__roomsLimit{
  margin-top: 10px;
}