.signInBtn {
  width: 100%;

  font-family: inherit;
  font-size: 1.25rem;

  color: #000;
  background-color: transparent;

  border: 1px solid #000;
  border-radius: 11px;
  padding: 0.75rem 2rem;

  transition: background 0.4s;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .signInBtn {
    padding: .5rem;

    width: 60vw;
  }
}
