.singOut__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
}

.singOut__button svg {
  transition: fill .4s;
  cursor: pointer;
}

.singOut__button svg:hover {
  fill: #f44336;
}
