.signIn__button {
  width: 100%;
  min-width: 300px;

  font-family: inherit;
  font-size: 1.25rem;

  color: #000;
  background-color: transparent;

  border: 1px solid #000;
  border-radius: 11px;
  padding: 0.5rem 2rem;

  transition: all 0.4s;
  cursor: pointer;
}

.signIn__button:hover {
  color: #fff;
  background-color: #050505;
}

@media (max-width: 1024px) {
  .signIn__button {
    width: 50vw;
    min-width: 200px;
    
    padding: 0.5rem;
    font-size: 3.5vw;
  }
}
