.chatRoom {
  width: 100vw;
  height: 100vh;

  background-image: url(../../assets/images/background.png);
  background-size: contain;
}

.chatRoom__background {
  text-align: center;
  width: 60vw;
  min-width: 728px;
  margin: 0 auto;
}

.chatRoom__header {
  background-color: #171817;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 60vw;
  min-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.chatRoom__backToHome {
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
}

.chatRoom__backToHome svg {
  width: 2rem;
  transition: all 0.4s;
}

.chatRoom__backToHome svg:hover {
  fill: #b3b3b3;
}

.chatRoom__title {
  flex: 1;
  letter-spacing: 7px;
}

.chatRoom__messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(35, 44, 38, 0.5490196078431373);
}

.chatRoom__mainSection {
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 10px 30px;
}

.chatRoom__mainSection::-webkit-scrollbar {
  width: 0.75rem;
}

.chatRoom__mainSection::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatRoom__mainSection::-webkit-scrollbar-thumb {
  background: #58ac5e;
}

.chatRoom__form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 60vw;
  min-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chatRoom__input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #3a3a3a;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.chatRoom__submitMessage {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.chatRoom__submitMessage:hover {
  background-color: #23532f;
}

.chatRoom__dayContainer {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 2rem;
}

.chatRoom__dayContainer::after {
  content: "";
  height: 1px;
  width: 200px;
  background-color: #727272;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.chatRoom__dayContainer::before {
  content: "";
  height: 1px;
  width: 200px;
  background-color: #727272;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
