.chatRoom {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
}

.chatRoom__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatRoom__roomInformations {
  width: 20vw;
  height: 100%;
  color: #f2f2f2;
}

.chatRoom__roomDescription {
  padding: 95px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #232323;
  height: 40%;
}

.chatRoom__roomInformations h1 {
  font-size: 1.25rem;
}

.chatRoom__titleDescription {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.chatRoom__description {
  font-size: 1rem;
  padding: 0.75rem;
  width: 15vw;
  height: 23vh;
  resize: none;
  border-radius: 10px;
  background-color: transparent;
}

.chatRoom__description:disabled {
  border-color: #f2f2f2;
}

.chatRoom__roomMembers {
  padding: 40px;
  background: #232323;
  height: 35%;
}

.chatRoom__members {
  margin: 0;
  padding: 0;
  height: 120px;
  overflow-y: auto;
}

.chatRoom__members::-webkit-scrollbar {
  width: 0.75rem;
}

.chatRoom__members::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatRoom__members::-webkit-scrollbar-thumb {
  background: #58ac5e;
}

.chatRoom__member {
  list-style: none;
}

.chatRoom__roomInformations footer {  
  background: #232323;
  height: 25%;
  text-align: center;
}

.chatRoom__footerLogo {
  width: 18rem;
}

.chatRoom__chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 75vw;
  height: 100%;
}

.chatRoom__header {
  height: 10%;
  color: white;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.chatRoom__backToHome {
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
}

.chatRoom__backToHome svg {
  width: 2rem;
  transition: all 0.4s;
}

.chatRoom__backToHome svg:hover {
  fill: #b3b3b3;
}

.chatRoom__title {
  font-size: 1.5rem;
  flex: 1;
  text-transform: uppercase;
  margin-bottom: 0;
}

.chatRoom__messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.chatRoom__mainSection {
  background: #f2f2f2;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 10px 30px;
}

.chatRoom__mainSection::-webkit-scrollbar {
  width: 0.75rem;
}

.chatRoom__mainSection::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatRoom__mainSection::-webkit-scrollbar-thumb {
  background: #58ac5e;
}

.chatRoom__form {
  height: 10%;
  width: 100%;
  background: #232323;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-top: 7px solid #58ac5e;
}

.chatRoom__input {
  width: 90%;
  height: 36px;
  border-radius: 10px;
  font-size: 1rem;
  background: #f2f2f2;
  color: var(--text);
  border: none;
  padding: 0 10px;
}

.chatRoom__submitMessage svg {
  transition: all 0.4s;
}

.chatRoom__submitMessage svg:hover {
  fill: #58ac5e;
}

.chatRoom__dayContainer {
  color: var(--text);
  font-size: 1.25rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 2rem;
}

.chatRoom__dayContainer::after {
  content: "";
  height: 1px;
  width: 200px;
  background-color: #727272;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.chatRoom__dayContainer::before {
  content: "";
  height: 1px;
  width: 200px;
  background-color: #727272;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
