.home {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

.home__mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25vw;
}

.home__logo {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
}

.home__logo h2 {
  margin: 0;
  color: var(--text);
}

.home__logo img {
  width: 100%;
}

.home__landingSection img {
  width: 40vw;
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .home {
    justify-content: center;
  }

  .home__logoSection {
    max-width: 100vw;
  }

  .home__logo {
    width: 50vw;
  }

 /*  .home__logo img {
    min-width: 50vw;
  } */

  .home__landingSection img {
    display: none;
  }
}
