body,
html,
container {
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ropa Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

button {
  background-color: transparent;
  border: none;
}

:root {
  --text: #202020;
}
