body {
    /* background-image: url("https://st2.depositphotos.com/3549671/10496/v/950/depositphotos_104967360-stock-illustration-seamless-pattern-with-vector-eco.jpg"); */
    background-image: url(./assets/images/background.png);
    background-size: contain;
  }
  
  .App {
    text-align: center;
    width: 60vw;
    min-width: 728px;
    margin: 0 auto;
  }
  
  .App header {
    background-color: #171817;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 60vw;
    min-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }

  header h1 {
    flex: 1;
    letter-spacing: 7px;
  }

  header button {
    padding: 0;
    background-color: transparent;
    height: auto;
  }

  svg:hover {
    fill: rgb(197, 197, 197);
  }
  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #232c268c;
  }

  .container {
    width: 1020px;
    margin: 0 auto;
  }
  
  main {
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.75rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #58ac5e;
  }
  
  form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 60vw;
    min-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 20%;
    background-color: #39703d;
  }
  
  form button:hover {
    background-color: #23532f;
  }
  
  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: #3a3a3a;
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
  button {
    background-color: #282c34; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
    
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
   
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    margin-bottom: 12px;
    word-wrap: break-word;
    max-width: 500px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
  }
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #58ac5e;
    align-self: flex-end;
    margin-right: 10px;
    text-align: end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
    margin-left: 10px;
    text-align: start;
  }
  
  .message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 5px;
  }